<button
  data-drawer-target="default-sidebar"
  data-drawer-toggle="default-sidebar"
  aria-controls="default-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <i class="fa-solid fa-arrow-right-from-bracket"></i>
</button>
<aside id="default-sidebar" class="z-40 w-64 h-screen sm:translate-x-0">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          routerLink="home"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <i
            class="fa-solid fa-house fa-lg text-blue-500 group-hover:text-blue-700"
          ></i>

          <span class="ml-3">Home</span>
        </a>
      </li>
      <li>
        <a
          routerLink="notification"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <i
            class="fa-solid fa-bell fa-lg text-blue-500 group-hover:text-blue-700"
          ></i>

          <span class="ml-3">Notification</span>
        </a>
      </li>
      <li>
        <a
          routerLink="projects"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <i
            class="fa-solid fa-folder-open fa-lg text-blue-500 group-hover:text-blue-700"
          ></i>

          <span class="ml-3">Projects</span>
        </a>
      </li>
      <li>
        <a
          routerLink="tasks"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <i
            class="fa-solid fa-list-check fa-lg text-blue-500 group-hover:text-blue-700"
          ></i>

          <span class="ml-3">Tasks</span>
        </a>
      </li>
      <li>
        <a
          routerLink="profile"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <i
            class="fa-solid fa-user fa-lg text-blue-500 group-hover:text-blue-700"
          ></i>

          <span class="ml-3">Profile</span>
        </a>
      </li>
      <li>
        <a
          routerLink="settings"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <i
            class="fa-solid fa-gear fa-lg text-blue-500 group-hover:text-blue-700"
          ></i>

          <span class="ml-3">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
