<!-- <button
  data-drawer-target="default-sidebar"
  data-drawer-toggle="default-sidebar"
  aria-controls="default-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <i class="fa-solid fa-arrow-right-from-bracket"></i>
</button> -->
<aside class="lg:w-48 h-screen">
  <div class="h-full px-3 py-4 overflow-y-auto border-r-2 lg:bg-inherit">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          routerLink="home"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <i
            class="fa-solid fa-house fa-lg text-blue-500 p-1 p-1 group-hover:text-blue-700"
          ></i>

          <span class="ml-3 hidden lg:block">Home</span>
        </a>
      </li>
      <li>
        <a
          routerLink="notification"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <i
            class="fa-solid fa-bell fa-lg text-blue-500 p-1 group-hover:text-blue-700"
          ></i>

          <span class="ml-3 hidden lg:block">Notification</span>
        </a>
      </li>
      <li>
        <a
          routerLink="projects"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <i
            class="fa-solid fa-folder-open fa-lg text-blue-500 p-1 group-hover:text-blue-700"
          ></i>

          <span class="ml-3 hidden lg:block">Projects</span>
        </a>
      </li>
      <li>
        <a
          routerLink="sprint"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <i
            class="fa-solid fa-arrows-split-up-and-left fa-rotate-90 fa-lg text-blue-500 p-1 group-hover:text-blue-700"
          ></i>

          <span class="ml-3 ms-2 hidden lg:block">Sprints</span>
        </a>
      </li>
      <li>
        <a
          routerLink="tasks"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <i
            class="fa-solid fa-list-check fa-lg text-blue-500 p-1 group-hover:text-blue-700"
          ></i>

          <span class="ml-3 hidden lg:block">Tasks</span>
        </a>
      </li>

      <li>
        <a
          routerLink="settings"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <i
            class="fa-solid fa-gear fa-lg text-blue-500 p-1 group-hover:text-blue-700"
          ></i>

          <span class="ml-3 hidden lg:block">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
