<!-- <div class="container w-screen justify-center flex flex-col py-5"></div> -->

<div class="container w-screen overflow-y-scroll">
  <h1 class="px-5">Tasks</h1>

  <div class="px-5 pb-5">
    <button
      class="relative inline-flex p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
      (click)="toggleModal()"
      *ngIf="IRole === 'scrumMaster'"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        <i class="fa-solid fa-plus p-1"></i>Add Task
      </span>
    </button>

    <app-createtask
      [showModal]="showModal"
      (toggleModal)="onToggleModal($event)"
    ></app-createtask>
  </div>
  <div class="flex flex-row w-fit">
    <ng-container *ngIf="tasks && tasks.length > 0; else noTasks">
      <div
        class="my-2 p-2 m-5 bg-slate-100 h-fit w-60"
        cdkDropList
        (cdkDropListDropped)="onDrop($event, 'todo')"
        [cdkDropListData]="todoTasks"
        #todoList="cdkDropList"
        [cdkDropListConnectedTo]="[doingList, doneList]"
      >
        <h2 class="ps-4">To do Tasks ({{ todoTasks.length }})</h2>

        <ng-container
          *ngIf="todoTasks && todoTasks.length > 0; else noTodoTasks"
        >
          <div
            class="flex flex-col p-2 my-3 bg-red-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 cursor-pointer"
            *ngFor="let task of todoTasks"
            (click)="openTaskDetails(task)"
            cdkDrag
            [cdkDragData]="task"
          >
            <p class="font-semibold">
              {{ task.taskName }}
            </p>

            <div class="" *ngIf="IRole === 'scrumMaster'">
              <div
                data-te-chip-init
                data-te-ripple-init
                class="[word-wrap: break-word] my-[3px] mr-4 flex h-[42px] cursor-pointer items-center justify-between rounded-[21px] bg-[#eceff1] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] duration-300 ease-linear hover:!shadow-none active:bg-[#cacfd1] dark:bg-neutral-600 dark:text-neutral-200"
              >
                <img
                  class="my-0 -ml-[12px] mr-[8px] h-12 w-12 rounded-[100%]"
                  [src]="
                    (task.assignTo &&
                      task.assignTo.profile_photo &&
                      task.assignTo.profile_photo.secure_url) ||
                    imageUrl
                  "
                  alt="Contact Person"
                />
                {{ task.assignTo.employeeName }}
                <span
                  data-te-chip-close
                  class="float-right w-4 cursor-pointer pl-[8px] text-[16px] text-[#afafaf] opacity-[.53] transition-all duration-200 ease-in-out hover:text-[#8b8b8b] dark:text-neutral-400 dark:hover:text-neutral-100"
                >
                </span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noTodoTasks class="my-2 p-2 m-5 bg-slate-100 h-fit w-60">
          <h3 class="ps-3 pt-5 text-red-800">
            There are no tasks in this status.
          </h3>
        </ng-template>
      </div>

      <div
        class="my-2 p-2 m-5 bg-slate-100 h-fit w-60"
        cdkDropList
        (cdkDropListDropped)="onDrop($event, 'doing')"
        [cdkDropListData]="doingTasks"
        #doingList="cdkDropList"
        [cdkDropListConnectedTo]="[todoList, doneList]"
      >
        <h2 class="ps-4">In progress Tasks ({{ doingTasks.length }})</h2>
        <ng-container
          *ngIf="doingTasks && doingTasks.length > 0; else noTodoingTasks"
        >
          <div
            class="flex flex-col p-2 my-3 bg-blue-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 cursor-pointer"
            *ngFor="let task of doingTasks"
            (click)="openTaskDetails(task)"
            cdkDrag
            [cdkDragData]="task"
          >
            <p class="font-semibold">
              {{ task.taskName }}
            </p>

            <div class="" *ngIf="IRole === 'scrumMaster'">
              <div
                data-te-chip-init
                data-te-ripple-init
                class="[word-wrap: break-word] my-[3px] mr-4 flex h-[42px] cursor-pointer items-center justify-between rounded-[21px] bg-[#eceff1] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] duration-300 ease-linear hover:!shadow-none active:bg-[#cacfd1] dark:bg-neutral-600 dark:text-neutral-200"
              >
                <img
                  class="my-0 -ml-[12px] mr-[8px] h-12 w-12 rounded-[100%]"
                  [src]="
                    (task.assignTo &&
                      task.assignTo.profile_photo &&
                      task.assignTo.profile_photo.secure_url) ||
                    imageUrl
                  "
                  alt="Contact Person"
                />
                {{ task.assignTo.employeeName }}
                <span
                  data-te-chip-close
                  class="float-right w-4 cursor-pointer pl-[8px] text-[16px] text-[#afafaf] opacity-[.53] transition-all duration-200 ease-in-out hover:text-[#8b8b8b] dark:text-neutral-400 dark:hover:text-neutral-100"
                >
                </span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noTodoingTasks>
          <h3 class="ps-3 pt-5 text-red-800">
            There are no tasks in this status.
          </h3>
        </ng-template>
      </div>
      <div
        class="my-2 p-2 m-5 bg-slate-100 h-fit w-60"
        cdkDropList
        (cdkDropListDropped)="onDrop($event, 'done')"
        [cdkDropListData]="doneTasks"
        #doneList="cdkDropList"
        [cdkDropListConnectedTo]="[doingList, todoList]"
      >
        <h2 class="ps-4">Done Tasks ({{ doneTasks.length }})</h2>
        <ng-container
          *ngIf="doneTasks && doneTasks.length > 0; else noDoneTasks"
        >
          <div
            class="flex flex-col p-2 my-3 bg-green-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 cursor-pointer"
            *ngFor="let task of doneTasks"
            (click)="openTaskDetails(task)"
            cdkDrag
            [cdkDragData]="task"
          >
            <p class="font-semibold">
              {{ task.taskName }}
            </p>

            <div class="" *ngIf="IRole === 'scrumMaster'">
              <div
                data-te-chip-init
                data-te-ripple-init
                class="[word-wrap: break-word] my-[3px] mr-4 flex h-[42px] cursor-pointer items-center justify-between rounded-[21px] bg-[#eceff1] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] duration-300 ease-linear hover:!shadow-none active:bg-[#cacfd1] dark:bg-neutral-600 dark:text-neutral-200"
              >
                <img
                  class="my-0 -ml-[12px] mr-[8px] h-12 w-12 rounded-[100%]"
                  [src]="
                    (task.assignTo &&
                      task.assignTo.profile_photo &&
                      task.assignTo.profile_photo.secure_url) ||
                    imageUrl
                  "
                  alt="Contact Person"
                />
                {{ task.assignTo.employeeName }}
                <span
                  data-te-chip-close
                  class="float-right w-4 cursor-pointer pl-[8px] text-[16px] text-[#afafaf] opacity-[.53] transition-all duration-200 ease-in-out hover:text-[#8b8b8b] dark:text-neutral-400 dark:hover:text-neutral-100"
                >
                </span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noDoneTasks>
          <h3 class="ps-3 pt-5 text-red-800">
            There are no tasks in this status.
          </h3>
        </ng-template>
      </div>
    </ng-container>
    <ng-template #noTasks>
      <div class="my-2 p-2 m-5 bg-slate-100 h-fit w-full">
        <h3 class="p-5 text-red-800">
          There are no tasks for this sprint yet.
        </h3>
      </div>
    </ng-template>
  </div>
</div>
