<section class="">
  <div class="flex flex-col items-center justify-center w-9/12 mx-auto pt-20">
    <div
      class="rounded-xl md:mt-0 xl:p-0 bg-sky-500 bg-opacity-5 shadow-sky-200 shadow-sm"
    >
      <div class="p-6 space-y-4 md:space-y-6">
        <h1
          class="text-2xl font-bold leading-tight tracking-tight text-sky-950 text-center"
        >
          Create Your Organization
        </h1>
        <form
          class="w-full space-y-4 md:space-y-6"
          (ngSubmit)="handleOrgRegister()"
          [formGroup]="orgRegisterForm"
        >
          <div>
            <input
              type="text"
              formControlName="organization_name"
              id="organization_name"
              class="border h-10 border-sky-950 outline-none text-amber-500 rounded-lg focus:placeholder:opacity-0 block p-4 w-full"
              placeholder="Name"
            />
            <div
              *ngIf="
                orgRegisterForm.get('organization_name')?.errors &&
                orgRegisterForm.get('organization_name')?.touched
              "
            >
              <p
                *ngIf="
                  orgRegisterForm
                    .get('organization_name')
                    ?.getError('required') &&
                  orgRegisterForm.get('organization_name')?.touched
                "
                class="text-red-700"
              >
                Organization Name is required
              </p>
            </div>
          </div>

          <div>
            <input
              type="text"
              formControlName="company"
              placeholder="Company"
              class="border h-10 border-sky-950 outline-none text-amber-500 rounded-lg focus:placeholder:opacity-0 block p-4 w-full"
            />
            <div
              *ngIf="
                orgRegisterForm.get('company')?.errors &&
                orgRegisterForm.get('company')?.touched
              "
            >
              <p
                *ngIf="
                  orgRegisterForm.get('company')?.getError('required') &&
                  orgRegisterForm.get('company')?.touched
                "
                class="text-red-700"
              >
                Company is required
              </p>
              <p
                *ngIf="
                  orgRegisterForm.get('company')?.getError('minLength') &&
                  orgRegisterForm.get('company')?.touched
                "
                class="text-red-700"
              >
                Company minimum length is 3
              </p>
              <p
                *ngIf="
                  orgRegisterForm.get('company')?.getError('maxLength') &&
                  orgRegisterForm.get('company')?.touched
                "
                class="text-red-700"
              >
                Company maximum length is 30
              </p>
            </div>
          </div>

          <div>
            <input
              type="text"
              formControlName="headQuarters"
              id="headQuarters"
              placeholder="Company Location"
              class="border h-10 border-sky-950 outline-none text-amber-500 rounded-lg focus:placeholder:opacity-0 block p-4 w-full"
            />
            <div
              *ngIf="
                orgRegisterForm.get('headQuarters')?.errors &&
                orgRegisterForm.get('headQuarters')?.touched
              "
            >
              <p
                *ngIf="
                  orgRegisterForm.get('headQuarters')?.getError('required') &&
                  orgRegisterForm.get('headQuarters')?.touched
                "
                class="text-red-700"
              >
                Head Quarters is required
              </p>
              <p
                *ngIf="
                  orgRegisterForm.get('headQuarters')?.getError('minlength') &&
                  orgRegisterForm.get('headQuarters')?.touched
                "
                class="text-red-700"
              >
                Head Quarters minimum length is 2
              </p>
              <p
                *ngIf="
                  orgRegisterForm.get('headQuarters')?.getError('maxlength') &&
                  orgRegisterForm.get('headQuarters')?.touched
                "
                class="text-red-700"
              >
                Head Quarters maximum length is 20
              </p>
            </div>
          </div>

          <div>
            <input
              readonly
              type="text"
              formControlName="industry"
              id="industry"
              placeholder="Company Industry"
              class="border h-10 border-sky-950 outline-none text-amber-500 rounded-lg focus:placeholder:opacity-0 block p-4 w-full"
            />
          </div>
          <div>
            <textarea
              type="text"
              formControlName="description"
              id="description"
              placeholder="Company Description"
              class="border h-15 border-sky-950 outline-none text-amber-500 rounded-lg focus:placeholder:opacity-0 block p-4 w-full"
            ></textarea>
            <div
              *ngIf="
                orgRegisterForm.get('description')?.errors &&
                orgRegisterForm.get('description')?.touched
              "
            >
              <p
                *ngIf="
                  orgRegisterForm.get('description')?.getError('required') &&
                  orgRegisterForm.get('description')?.touched
                "
                class="text-red-700"
              >
                Description is required
              </p>
              <p
                *ngIf="
                  orgRegisterForm.get('description')?.getError('minlength') &&
                  orgRegisterForm.get('description')?.touched
                "
                class="text-red-700"
              >
                Description minimum length is 3
              </p>
              <p
                *ngIf="
                  orgRegisterForm.get('description')?.getError('maxlength') &&
                  orgRegisterForm.get('description')?.touched
                "
                class="text-red-700"
              >
                Description maximum length is 300
              </p>
            </div>
          </div>
          <div>
            <label
              for="logo"
              class="mr-2 mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Logo</label
            >
            <input
              type="file"
              id="logo"
              name="logo"
              accept=".jpg, .jpeg, .png"
              (change)="handleFile($event)"
            />
          </div>
          <div class="relative flex items-center">
            <a class="mx-auto" routerLink="/org-register">
              <button
                type="submit"
                [disabled]="orgRegisterForm.invalid"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
              >
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                <span *ngIf="!isLoading"> Create Organization </span>
              </button></a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
