<div class="container">
  <div class="flex items-center gap-8 mt-4">
    <h2 class="font-semibold m-3">{{ project }}</h2>
    <div class="flex gap-2">
      <div class="hover:bg-slate-400 rounded-sm p-2 cursor-pointer">
        <i class="fa-solid fa-pen-to-square p-1"></i>Edit
      </div>
      <div class="hover:bg-slate-400 rounded-sm p-2 cursor-pointer">
        <i class="fa-solid fa-plus p-1"></i>Sprint
      </div>
      <div class="hover:bg-slate-400 rounded-sm p-2 cursor-pointer">
        <i class="fa-solid fa-people-group p-1"></i>Collaborators
      </div>
    </div>
  </div>
</div>
