<div class="flex lg-gap-20 flex-wrap mt-4 gap-10 w-[calc(100vw-12rem)]">
  <div class="ml-4 w-fit">
    <p class="font-semibold text-lg">Welcome {{ employeeName }}!</p>
    <p>
      You have {{ todayToDoTasks.length }} Task
      <span *ngIf="employeeRole === 'scrumMaster'">for follow up</span>
      <span *ngIf="employeeRole === 'member'">in your calendar</span>
    </p>

    <h3 class="mt-12">My Work</h3>
    <div class="container max-w-6xl">
      <div class="flex flex-wrap">
        <div class="w-full">
          <ul
            class="flex -mb-4 list-none flex-wrap pt-3 pb-4 flex-row divide-x divide-gray-200"
          >
            <li
              class="last:mr-0 flex-auto text-center inline-block bg-gray-50 hover:bg-gray-100 focus:outline-none"
            >
              <a
                class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal cursor-pointer"
                (click)="toggleTabs(1)"
                [ngClass]="{
                  'text-black': openTab !== 1,
                  'text-blue-700 bg-white': openTab === 1
                }"
              >
                Todo
              </a>
            </li>
            <li
              class="last:mr-0 flex-auto text-center inline-block bg-gray-50 hover:bg-gray-100 focus:outline-none"
            >
              <a
                class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal cursor-pointer"
                (click)="toggleTabs(2)"
                [ngClass]="{
                  'text-black': openTab !== 2,
                  'text-blue-700 bg-white': openTab === 2
                }"
              >
                Done
              </a>
            </li>
            <li
              class="last:mr-0 flex-auto text-center inline-block bg-gray-50 hover:bg-gray-100 focus:outline-none"
            >
              <a
                class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal cursor-pointer"
                (click)="toggleTabs(3)"
                [ngClass]="{
                  'text-black': openTab !== 3,
                  'text-blue-700 bg-white': openTab === 3
                }"
              >
                Overdue
              </a>
            </li>
          </ul>
          <div
            class="relative flex flex-col min-w-0 break-words bg-blue-100 mb-6 border rounded"
          >
            <div class="px-4 py-5 flex-auto w-[36rem]">
              <div class="tab-content tab-space">
                <div
                  [ngClass]="{ hidden: openTab !== 1, block: openTab === 1 }"
                >
                  <div *ngIf="todayToDoTasks.length === 0" class="w-full">
                    <p class="text-center text-lg">
                      Relax! No Tasks for today yet
                    </p>
                    <img
                      src="../../../assets/sanbath_chill.700beda22e65d32475d72ba306977084.png"
                      alt=""
                    />
                  </div>
                  <div *ngIf="todayToDoTasks.length > 0">
                    <div class="w-full grid grid-cols-5 gap-4 text-center px-6">
                      <p>Project</p>
                      <p>Sprint</p>
                      <p>Task Title</p>
                      <p>Start Date</p>
                      <p>Deadline</p>
                    </div>

                    <div
                      class="w-full grid grid-cols-5 gap-4 text-center p-6 my-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                      *ngFor="let toDoTask of todayToDoTasks"
                    >
                      <p class="px-1">{{ toDoTask.project.projectName }}</p>
                      <p class="px-1">{{ toDoTask.sprint.sprint_name }}</p>
                      <p class="px-1">{{ toDoTask.taskName }}</p>
                      <p class="px-1">
                        {{ toDoTask.startDate | dateFormat : "d MMM " }}
                      </p>
                      <p class="px-1">
                        {{ toDoTask.deadline | dateFormat : "d MMM " }}
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  [ngClass]="{ hidden: openTab !== 2, block: openTab === 2 }"
                >
                  <div *ngIf="todayDoneTasks.length === 0" class="w-full">
                    <p class="text-center text-lg">
                      Relax! No Tasks for today yet
                    </p>
                    <img
                      src="../../../assets/sanbath_chill.700beda22e65d32475d72ba306977084.png"
                      alt=""
                    />
                  </div>
                  <div *ngIf="todayDoneTasks.length > 0">
                    <div class="w-full grid grid-cols-5 gap-4 text-center px-6">
                      <p>Project</p>
                      <p>Sprint</p>
                      <p>Task Title</p>
                      <p>Start Date</p>
                      <p>Deadline</p>
                    </div>
                    <div
                      class="w-full grid grid-cols-5 gap-4 text-center p-6 my-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                      *ngFor="let toDoTask of todayDoneTasks"
                    >
                      <p class="px-1">{{ toDoTask.project.projectName }}</p>
                      <p class="px-1">{{ toDoTask.sprint.sprint_name }}</p>
                      <p class="px-1">{{ toDoTask.taskName }}</p>
                      <p class="px-1">
                        {{ toDoTask.startDate | dateFormat : "d MMM " }}
                      </p>
                      <p class="px-1">
                        {{ toDoTask.deadline | dateFormat : "d MMM " }}
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  [ngClass]="{ hidden: openTab !== 3, block: openTab === 3 }"
                >
                  <div *ngIf="todayOverDueTasks.length === 0" class="w-full">
                    <p class="text-center text-lg">
                      Relax! No Tasks for today yet
                    </p>
                    <img
                      src="../../../assets/sanbath_chill.700beda22e65d32475d72ba306977084.png"
                      alt=""
                    />
                  </div>
                  <div *ngIf="todayOverDueTasks.length > 0">
                    <div class="w-full grid grid-cols-5 gap-4 text-center px-6">
                      <p>Project</p>
                      <p>Sprint</p>
                      <p>Task Title</p>
                      <p>Start Date</p>
                      <p>Deadline</p>
                    </div>
                    <div
                      class="w-full grid grid-cols-5 gap-4 text-center p-6 my-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                      *ngFor="let toDoTask of todayOverDueTasks"
                    >
                      <p class="px-1">{{ toDoTask.project.projectName }}</p>
                      <p class="px-1">{{ toDoTask.sprint.sprint_name }}</p>
                      <p class="px-1">{{ toDoTask.taskName }}</p>
                      <p class="px-1">
                        {{ toDoTask.startDate | dateFormat : "d MMM " }}
                      </p>
                      <p class="px-1">
                        {{ toDoTask.deadline | dateFormat : "d MMM " }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-calendar class="ml-4"></app-calendar>
</div>
