<div class="container bg-slate-100 w-full m-5 p-2">
  <div class="ps-3">
    <h2>Project: {{ projectName }}</h2>
  </div>

  <!-- Table -->
  <div class="justify-center items-center text-center flex">
    <table
      class="max-w-4xl w-screen my-3 border-r-gray-400 border border-gray-200 rounded-lg shadow dark:bg-gray-800"
    >
      <thead class="">
        <tr>
          <th class="pt-2">Sprint Name</th>
          <th>Start Date</th>
          <th>Deadline</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-xl">
          <td class="text-center">{{ sprintName }}</td>
          <td class="text-center py-2">
            {{ startDate | dateFormat : "dd-MM-yyyy" }}
          </td>
          <td class="text-center">
            {{ deadline | dateFormat : "dd-MM-yyyy" }}
          </td>
          <td class="text-center"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex flex-col justify-between">
    <ng-container *ngIf="tasks && tasks.length > 0; else noTasks">
      <div class="my-2 p-1 outline-dashed outline-1">
        <div>
          <h2 class="ps-4">To do Tasks</h2>
          <div
            class="max-w-4xl flex gap-32 align-content-center items-center p-6 my-3 bg-red-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
            *ngFor="let task of todoTasks"
          >
            <p>{{ task.taskName }}</p>
            <p>{{ task.deadline | dateFormat : "dd-MM-yyyy" }}</p>

            <div class="flex items-center space-x-5">
              <div class="flex flex-col space-y-2">
                <span>{{ task.assignTo.employeeName }}</span>
                <span>{{ task.assignTo.title }}</span>
              </div>
              <img
                [src]="
                  (task.assignTo &&
                    task.assignTo.profile_photo &&
                    task.assignTo.profile_photo.secure_url) ||
                  imageUrl
                "
                class="rounded-full h-14 w-14"
                alt=""
              />
            </div>
            <div class="flex">
              <button
                class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 w-16 py-3"
              >
                More
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="my-2 p-1 outline-dashed outline-1">
        <h2 class="ps-4">In progress Tasks</h2>
        <div
          class="max-w-4xl flex gap-32 align-content-center p-6 my-3 bg-blue-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
          *ngFor="let task of doingTasks"
        >
          <p>{{ task.taskName }}</p>
          <p>{{ task.deadline | dateFormat : "dd-MM-yyyy" }}</p>

          <div class="flex items-center space-x-5">
            <div class="flex flex-col space-y-2">
              <span>{{ task.assignTo.employeeName }}</span>
              <span>{{ task.assignTo.title }}</span>
            </div>
            <img
              [src]="
                (task.assignTo &&
                  task.assignTo.profile_photo &&
                  task.assignTo.profile_photo.secure_url) ||
                imageUrl
              "
              class="rounded-full h-14 w-14"
              alt=""
            />
          </div>
          <div class="flex">
            <button
              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800 w-16 py-3"
            >
              More
            </button>
          </div>
        </div>
      </div>
      <div class="my-2 p-1 outline-dashed outline-1">
        <h2 class="ps-4">Done Tasks</h2>
        <div
          class="max-w-4xl flex gap-32 align-content-center p-6 my-3 bg-green-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
          *ngFor="let task of doneTasks"
        >
          <p>{{ task.taskName }}</p>
          <p>{{ task.deadline | dateFormat : "dd-MM-yyyy" }}</p>

          <div class="flex items-center space-x-5">
            <div class="flex flex-col space-y-2">
              <span>{{ task.assignTo.employeeName }}</span>
              <span>{{ task.assignTo.title }}</span>
            </div>
            <img
              [src]="
                (task.assignTo &&
                  task.assignTo.profile_photo &&
                  task.assignTo.profile_photo.secure_url) ||
                imageUrl
              "
              class="rounded-full h-14 w-14"
              alt=""
            />
          </div>
          <div class="flex">
            <button
              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800 w-16"
            >
              More
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noTasks>
      <h3 class="ps-3 pt-5 text-red-800">
        There are no tasks for this sprint yet.
      </h3>
    </ng-template>
  </div>
</div>
