<nav class="bg-transparent h-auto lg:py-4">
  <div class="container mx-auto px-4 lg:px-28">
    <div class="flex items-center justify-between">
      <button
        class="block lg:hidden text-black hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0"
        type="button"
        data-te-collapse-init
        data-te-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent1"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="h-7 w-7">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-7 w-7"
          >
            <path
              fill-rule="evenodd"
              d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </span>
      </button>

      <!-- Collapsible navigation container -->
      <div
        class="hidden flex-grow lg:flex justify-center"
        id="navbarSupportedContent1"
        data-te-collapse-item
      >
        <!-- Logo -->
        <div class="mr-3">
          <a class="text-2xl text-blue-800" [routerLink]="['/home']"
            >TaskSpace</a
          >
        </div>

        <!-- Left navigation links -->
        <ul
          class="list-style-none mt-1 mr-auto lg:flex-row"
          data-te-navbar-nav-ref
        >
          <li
            *ngIf="loggedIn"
            class="mb-4 lg:mb-0 lg:mr-4"
            data-te-nav-item-ref
          >
            <a
              class="transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none"
              href="workspace/notification"
              data-te-nav-link-ref
              >Notification</a
            >
          </li>
        </ul>
      </div>

      <div *ngIf="!loggedIn" class="flex items-center">
        <a
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded mr-2 lg:py-2 lg:px-4"
          routerLink="/org-register"
          >Create Organization</a
        >
        <a
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded lg:py-2 lg:px-4"
          routerLink="/employee-login"
          >Login as employee</a
        >
      </div>

      <div *ngIf="loggedIn" class="flex items-center me-6">
        Welcome, {{ employeeName }}
      </div>
      <a routerLink="workspace/settings">
        <img
          *ngIf="loggedIn"
          [src]="imageUrl"
          class="rounded-full h-10 w-10 me-6 cursor-pointer"
          alt=""
      /></a>
      <div *ngIf="loggedIn" class="flex items-center">
        <a
          (click)="logout()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded lg:py-2 lg:px-4"
          >Logout</a
        >
      </div>
    </div>
  </div>
</nav>
