<div *ngIf="notifications?.length" id="container" class=" container flex flex-col my-3 border mx-auto">
    <div 
        *ngFor="let notification of notifications"
        class="not-container"
        [ngClass]="notification.isReaded ? 'bg-blue-300' : 'bg-blue-200'" 
    >
        <div class="flex flex-col justify-between center rounded-md">
            <p class="">{{notification.title}}</p>
            <p class="">{{notification.description}}</p>
        </div>
        <div class="">
            <p class="text-gray-500 font-size">{{notification.createdAt|dateFormat}}</p>
        </div>
    </div>
</div>