<section class="">
    <div class="flex flex-col items-center justify-center w-9/12 mx-auto pt-20">
        <div class="rounded-xl md:mt-0 bg-sky-500 px-6 bg-opacity-5 shadow-sky-950 shadow-lg">
            <div class="space-y-4 md:space-y-6 sm:p-8 ">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Admin Register
                </h1>
                <form 
                    class="space-y-4 md:space-y-6 w-full" 
                    (ngSubmit)="handleOAdminRegister(adminRegisterForm)"
                    [formGroup]="adminRegisterForm"
                >
                    <div>
                        <label for="adminName"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Admin Name</label>
                        <input type="text" formControlName="adminName" id="adminName"
                            class="border h-10 border-sky-950 outline-none text-amber-500  rounded-lg focus:placeholder:opacity-0 block p-4 w-full"
                            placeholder="Name">
                        <div
                            *ngIf="adminRegisterForm.get('adminName')?.errors && adminRegisterForm.get('adminName')?.touched">
                            <p *ngIf="adminRegisterForm.get('adminName')?.getError('required') && adminRegisterForm.get('adminName')?.touched"
                                class="text-red-700">Admin Name is required</p>
                        </div>
                    </div>

                    <div>
                        <input type="text" formControlName="email" placeholder="email"
                            class="border h-10 border-sky-950 outline-none text-amber-500  rounded-lg focus:placeholder:opacity-0 block p-4 w-full">
                        <div *ngIf="adminRegisterForm.get('email')?.errors && adminRegisterForm.get('email')?.touched">
                            <p *ngIf="adminRegisterForm.get('email')?.getError('required') && adminRegisterForm.get('email')?.touched"
                                class="text-red-700">Email is required</p>
                        </div>
                    </div>

                    <div>
                        <input type="password" formControlName="password" id="password"
                            placeholder="Password"
                            class="border h-10 border-sky-950 outline-none text-amber-500  rounded-lg focus:placeholder:opacity-0 block p-4 w-full">
                        <div
                            *ngIf="adminRegisterForm.get('password')?.errors && adminRegisterForm.get('password')?.touched">
                            <p *ngIf="adminRegisterForm.get('password')?.getError('required') && adminRegisterForm.get('password')?.touched"
                                class="text-red-700">Password is required</p>
                        </div>
                    </div>

                    <div>
                        <label for="organization"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Organization</label>
                        <input 
                            readonly
                            type="text" 
                            [value]="organization_name" 
                            id="organization"
                            placeholder="Organization"
                            class="border h-10 border-sky-950 outline-none text-amber-500  rounded-lg focus:placeholder:opacity-0 block p-4 w-full"
                        >
                            <div *ngIf="adminRegisterForm.get('organization')?.errors && adminRegisterForm.get('organization')?.touched">
                            <p *ngIf="adminRegisterForm.get('organization')?.getError('required') && adminRegisterForm.get('organization')?.touched"
                                class="text-red-700">Organization is required
                            </p>
                        </div>
                    </div>
                    <div class="relative flex items-center">
                        <a routerLink="/org-register">
                            <button type="submit" [disabled]="adminRegisterForm.invalid"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                            >
                                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                                <span *ngIf="!isLoading">
                                    Admin Register
                                </span>
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>