<div class="w-[calc(100%+12rem)] container ml-4 flex flex-col py-5">
  <div class="flex items-center mx-2">
    <p class="text-lg">
      <i class="fa-regular fa-calendar-days mx-2"></i>Check Your Sprints
    </p>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded lg:py-2 lg:px-4 ms-6 mb-2"
      (click)="toggleModal()"
      *ngIf="IRole === 'scrumMaster'"
    >
      <i class="fa-solid fa-plus p-1"></i>Add Sprint
    </button>
  </div>

  <app-addsprint
    [showModal]="showModal"
    [projects]="projects"
    (toggleModal)="onToggleModal($event)"
  ></app-addsprint>
  <div class="text-center ms-[600px] mt-48" *ngIf="isLoadingSprits">
    <div class="loader-container py-3 scale-150">
      <div class="loader mx-auto"></div>
      <div class="loader-text">Loading...</div>
    </div>
  </div>

  <div
    class="flex flex-wrap justify-center items-center gap-4"
    *ngIf="!isLoadingSprits"
  >
    <p-accordion>
      <p-accordionTab
        class="text-lg"
        header="{{ project.projectName }}"
        *ngFor="let project of projects"
        (click)="getProjectId(project._id)"
      >
        <ng-container
          *ngIf="project.sprints && project.sprints.length > 0; else noSprints"
        >
          <table
            class="max-w-2xl w-screen mb-3 border-separate border-spacing-y-4 bg-gray-100"
          >
            <thead>
              <tr ngClass="{{ project.backGround }}">
                <th class="py-4">Sprint Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let sprint of project.sprints"
                ngClass="{{ project.backGround }}"
              >
                <td class="text-center">{{ sprint.sprint_name }}</td>
                <td class="text-center py-2">
                  {{ sprint.start_date | dateFormat : "dd-MM-yyyy" }}
                </td>
                <td class="text-center">
                  {{ sprint.deadline | dateFormat : "dd-MM-yyyy" }}
                </td>
                <td class="text-center">
                  <button
                    class="relative inline-flex items-center justify-center mb-1 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800 mt-1"
                    routerLink="details/{{ sprint._id }}"
                  >
                    <span
                      class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-blue-500 text-white hover:bg-blue-600"
                    >
                      More
                    </span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-template #noSprints>
          <div class="max-w-2xl w-screen my-3">
            <h3 class="ps-3 pt-5 text-red-800">
              There are no sprints for this project yet.
            </h3>
          </div>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
    <div *ngIf="activeProject.length > 0">
      <p-card
        header="{{ this.activeProject[0].projectName }}"
        [style]="{ width: '360px', backgroundColor: '#1c64f2', color: 'white' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="../../../assets/istockphoto-1143678440-612x612.jpg"
          />
        </ng-template>
        <p>
          <span>
            Start Date:
            {{ this.activeProject[0].startDate | dateFormat : "MM-yyyy" }}</span
          >
          <br />
          <span>
            End Date:
            {{ this.activeProject[0].deadline | dateFormat : "MM-yyyy" }}</span
          >
          <br />
          <br />
          {{ this.activeProject[0].description }}
        </p>
      </p-card>
    </div>
  </div>
</div>
