<section class="h-80 container px-28 mx-auto mb-48 sm:mt-0 sm:mb-64 lg:mt-28">
    <div class="lg:grid lg:grid-cols-2 md:grid md:grid-cols-2 sm:flex sm:flex-col">
        <div class="header-text pt-36">
            <h1 class="text-4xl	mb-9">Make your work easier with us</h1>
            <ul class="lg:grid lg:grid-cols-2 md:grid md:grid-cols-2 sm:grid sm:grid-cols-1 text-xl mb-8">
                <li class="p-5 ps-0"><i class="fa-regular fa-square-check" style="color: #1d4ed8;"></i> A single app for all departments</li>
                <li class="p-5 ps-0"><i class="fa-regular fa-square-check" style="color: #1d4ed8;"></i> Manage projects, organize work</li>
                <li class="p-5 ps-0"><i class="fa-regular fa-square-check" style="color: #1d4ed8;"></i> Integrate all your favorite tools</li>
                <li class="p-5 ps-0"><i class="fa-regular fa-square-check" style="color: #1d4ed8;"></i> Collaborate and drive efficiency</li>
            </ul>
            <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-3 rounded ">Create New Organization</a>
        </div>
        <div class="ml-20 mt-4 lg:inline md:inline sm:hidden">
            <figure class="max-w-2xl">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://img.freepik.com/premium-vector/business-plan-concept-confident-young-business-leader-presenting-marketing-statistic-report_566886-10023.jpg?w=1060"
                    alt="image description">
            </figure>
        </div>
    </div>
</section>