<section class="container mx-auto px-4 lg:px-28 mb-28 mt-28">
    <div class="flex flex-col md:flex-row md:flex-wrap items-center justify-center">
        <div class="header-text md:w-full lg:w-auto pt-4 md:pt-10">
            <h1 class="text-4xl mb-4 md:mb-9">Make your work easier with us</h1>
            <ul class="lg:grid lg:grid-cols-2 md:grid md:grid-cols-2 sm:grid sm:grid-cols-1 text-xl mb-6 md:mb-8">
                <li class=" py-4 pe-4"><i class="fa-regular fa-square-check" style="color: #1d4ed8;"></i> A single app
                    for all departments</li>
                <li class=" py-4"><i class="fa-regular fa-square-check" style="color: #1d4ed8;"></i> Manage projects,
                    organize work</li>
                <li class=" py-4 pe-4"><i class="fa-regular fa-square-check" style="color: #1d4ed8;"></i> Integrate all
                    your favorite tools</li>
                <li class=" py-4 ps-0"><i class="fa-regular fa-square-check" style="color: #1d4ed8;"></i> Collaborate
                    and drive efficiency</li>
            </ul>
            <div class="w-full flex justify-center">
                <a class="bg-blue-500 hover:bg-blue-700 text-white text-lg m-1 p-2 rounded mx-auto"
                    routerLink="/org-register">Create Organization</a>
            </div>
        </div>
        <div class="header-img ps-16 mt-0 md:mt-10">
            <figure class="max-w-xl">
                <img class="h-auto rounded-lg"
                    src="https://img.freepik.com/premium-vector/business-plan-concept-confident-young-business-leader-presenting-marketing-statistic-report_566886-10023.jpg?w=1060"
                    alt="image description">
            </figure>
        </div>
    </div>
</section>