<app-header></app-header>

<section
  class="flex flex-col items-center justify-center container px-28 mx-auto"
>
  <h2 class="text-4xl mt-20">Drive efficiency across all departments</h2>
  <p class="text-center text-lg w-1/2 mt-8 leading-8 mb-18">
    <span class="text-blue-800">TaskSpace</span> streamlines work processes for
    maximum efficiency, empowering teams across all departments to collaborate,
    manage projects, drive strategic initiatives, and achieve goals.
  </p>
  <div
    class="lg:grid lg:grid-cols-2 md:grid md:grid-cols-2 sm:flex sm:flex-col"
  >
    <div class="pt-20">
      <h2 class="text-3xl mb-9">Improve visibility and alignment</h2>
      <p class="w-11/12 text-gray-700 text-xl pb-12">
        Create a single source of truth and align your teams and departments by
        centralizing all your work in one powerful platform.
      </p>
      <p class="w-11/12 text-gray-700 text-xl pb-12">
        Adapt workflows, change views, and tailor your workspaces to reflect
        your teams’ needs and preferences while maintaining 360° visualization.
      </p>
      <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-3 rounded"
        >Create New Organization</a
      >
    </div>
    <div class="ml-30 mt-4">
      <figure class="max-w-2xl">
        <img
          class="h-auto max-w-full"
          src="https://enkonix.com/api/media/Project-Management-Life-Cycle_twJDtCc_x2_webp.webp"
          alt="image description"
        />
      </figure>
    </div>
  </div>
</section>

<section
  class="flex flex-col items-center justify-center container px-28 mx-auto"
>
  <h2 class="text-4xl mt-20">Transform the way you work</h2>
  <p class="text-center text-lg w-1/2 mt-8 leading-8 mb-18">
    Empower teams and departments to do the best work of their lives with 360°
    visibility, true cross-functional collaboration, and powerful automation.
  </p>
  <div
    class="lg:grid lg:grid-cols-4 md:grid md:grid-cols-2 sm:flex sm:flex-col gap-4"
  >
    <div class="pt-20">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          <img
            class="rounded-t-lg py-8"
            src="https://www.itarian.com/assets-new/images/project-management.png"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Marketing and creative
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Create high-performing campaigns with custom workflows, DAM tools,
            and dynamic reports.
          </p>
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Read more
            <svg
              class="w-3.5 h-3.5 ml-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="pt-20">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          <img
            class="rounded-t-lg py-8"
            src="https://www.itarian.com/assets-new/images/project-management.png"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Proffesinal Service
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Manage resources, track billable hours, and delight clients with
            Wrike's powerful platform.
          </p>
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Read more
            <svg
              class="w-3.5 h-3.5 ml-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="pt-20">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          <img
            class="rounded-t-lg py-8"
            src="https://www.itarian.com/assets-new/images/project-management.png"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Project Managment Office
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Improve collaboration with Wrike's planning, risk management, and
            automation software.
          </p>
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Read more
            <svg
              class="w-3.5 h-3.5 ml-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="pt-20">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          <img
            class="rounded-t-lg py-8"
            src="https://www.itarian.com/assets-new/images/project-management.png"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              IT and Engineering
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Optimize agile IT workflows - manage strategic initiatives and
            service requests in one place.
          </p>
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Read more
            <svg
              class="w-3.5 h-3.5 ml-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
