@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-color: #fcfcfc !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  background: #FFF !important;
}

/* Define the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
}

/* Define the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #3498db;
  /* Color of the thumb */
  border-radius: 5px;
  /* Round the edges of the thumb */
}

/* Define the scrollbar track when not hovering */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the track */
}

/* Define the scrollbar thumb when hovering */
::-webkit-scrollbar-thumb:hover {
  background: #2980b9;
  /* Color of the thumb on hover */
}
.error.mat-snack-bar-container {
  background: #cc0000;
  color: white;
}

.success.mat-snack-bar-container {
  background: #00cc00;
  color: white;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Define the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
}

/* Define the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #3498db;
  /* Color of the thumb */
  border-radius: 5px;
  /* Round the edges of the thumb */
}

/* Define the scrollbar track when not hovering */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the track */
}

/* Define the scrollbar thumb when hovering */
::-webkit-scrollbar-thumb:hover {
  background: #2980b9;
  /* Color of the thumb on hover */
}
@layer components {
  .side-bar-item {
    @apply flex items-center p-2 text-gray-900 rounded-lg hover:bg-blue-300 hover:text-white transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105  duration-300;
  }
  .side-bar-icon {
    @apply text-blue-500 p-1 group-hover:text-blue-700 focus:text-white;
  }
}
